<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sisinventarios</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping resource="Modelo/Medidas.hbm.xml"/>
    <mapping resource="Modelo/Deposito.hbm.xml"/>
    <mapping resource="Modelo/Relacionentradasalida.hbm.xml"/>
    <mapping resource="Modelo/Salida.hbm.xml"/>
    <mapping resource="Modelo/Entrada.hbm.xml"/>
    <mapping resource="Modelo/Esponja.hbm.xml"/>
    <mapping resource="Modelo/Colchon.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
